@page
@model Travels.Pages.Users.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<form method="post">
    <input asp-for="ApplicationUser.Id" hidden />
    <div class=" border  backgroundWhite">
        <h2 class="text-info">Usuń użytkownika</h2>
        <br />
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label class="text-info">Imie</label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="ApplicationUser.FirstName" disabled class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label class="text-info">Nazwisko</label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="ApplicationUser.LastName" disabled class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <label class="text-info">E-mail</label>
                </div>
                <div class="col-sm-5">
                    <input asp-for="ApplicationUser.Email" disabled class="form-control" />
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_DeleteAndBackToListButton" />
            </div>
        </div>
    </div>
</form>

