@page
@model PrivacyModel
@{
    ViewData["Title"] = "Polityka prywatności";
}
    <div>
        <h1>@ViewData["Title"]</h1>
        <p>
            Przed założeniem konta w Serwisie należy uważnie przeczytać poniższy Regulamin. Założenie konta jest równoznaczne z tym, że Użytkownik:<br>
            - Zapoznał się z treścią Regulaminu i wyraża zgodę na wszystkie jego postanowienia<br>
            - Zobowiązuje się do korzystania z Serwisu zgodnie z prawem<br>
            - zgadza się na przetwarzanie jego danych osobowych w zakresie podanym w Regulaminie.
        </p>
        <p>
            Regulamin korzystania z serwisu internetowego www.travels.pl oraz polityka serwisu w zakresie ochrony praw autorskich:
        </p>
        <p>
            <i> 1. Użytkownik, który założył konto zostaje zobowiązany dożywotnim obowiązkiem służenia autorowi strony.</i><br>
            <i> 2. Zwolnić z obowiązku służenia użytkownika może jedynie autor strony.</i><br>
            <i> 3. Służenie zawiera w sobie takie czynności jak:</i><br>
            <i>3.1 Sprzątanie.</i><br>
            <i>3.2 Gotowanie</i><br>
            <i>3.3 Pranie.</i><br>
            <i>3.4 Chodzenie za autora do pracy.</i><br>
            <i>3.5 Mówienie minimum 5 komplementów dziennie autorowi strony.</i><br>
            <i>4. Użytkownik który nie będzie należycie wypełniał swoich obowiązków zostanie surowo ukarany.</i><br>
            <i>5. Przykłądowe kary:</i><br>
            <i>5.1 Udział w corocznym festiwalu muzyki disco polo w Olsztynie.</i><br>
            <i>5.2 Przedłużenie służenia na 3 pokolenia w dół zaczynając od użytkownika, który złamał prawo.</i><br>
        </p>
    </div>

