
<div class="row">
    <div class="col-6">
        <button type="submit" class="btn btn-danger form-control">Usuń</button>
    </div>
    <div class="col-6">
        <a href='javascript:history.go(-1)' class="btn btn-success text-white form-control">
            Powrót
        </a>
    </div>
</div>